@model List<DemoMVC.Models.Producto>

<h2>Producto</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>Nombre</tr>
            <tr>Descripcion</tr>
            <tr>Precio</tr>
            <tr>Categoria</tr>
            <tr>Proveedor</tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
